* {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  /* Variables */
  --Font1: #023e8a;
  --Font2: #0077b6;
  --color-title: #ade8f4;
  --padding-Font: 1rem 5rem 5rem;
}

body {
  width: 100vw;
  display: grid;
  grid-template-rows: 10vh 60vh 60vh 100vh 60vh;
  grid-template-areas:
    "navbar"
    "head"
    "servicios"
    "portafolio"
    "testimonio";
  overflow-y: scroll;
  overflow-x: hidden;
}

/* TODO: NAVBAR */
.navbar {
  width: 100%;
  grid-area: navbar;
  height: 10vh;
  background-color: var(--Font1);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5rem;

  position: fixed;
  z-index: 100;
  top: 0;
}

/* ********************* HEADER NAVBAR TITLE *********************** */
.navbar .title {
  font-size: 1.2rem;
  color: var(--color-title);
  font-weight: 500;
  text-decoration: none;
}

/* ********************* HEADER NAVBAR LIST *********************** */
.navbar .list {
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  color: white;
  font-size: 0.6rem;
}

/* Item */
.navbar .list .item {
  &:hover {
    cursor: pointer;
    color: #48cae4;
  }
}

/* TODO: HEAD */
.header {
  width: 100%;
  grid-area: head;
  background: var(--Font1);
  border-bottom: solid 0.1rem white;
  display: flex;
  padding-inline: 5rem;
  z-index: 2;
}

.header .description {
  width: 100%;
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 100%;
}

/* ********************* HEADER DESCRIPTION PRESENTACION *********************** */
.header .description .presentacion {
  width: 100%;
  display: grid;
  grid-template-rows: 70% 1fr;
  grid-template-columns: 100%;
}

/* ********************* HEADER DESCRIPTION PRESENTACION INF *********************** */
.header .description .presentacion .inf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 0.6rem;
  color: white;
  padding-top: 0rem;
}

/* /////////// Saludo ///////////// */
/* Saludo */
.header .description .presentacion .inf .saludo {
  margin: 0rem;
  color: white;
  font-size: 1.5rem;
}

/* trabajo el span */
.header .description .presentacion .inf .saludo .name {
  color: var(--color-title);
}

/* /////////// descripción ///////////// */
.header .description .presentacion .inf .description {
  display: block;
  margin: 0rem;
  font-size: 1rem;
}

/* /////////// info ///////////// */
.header .description .presentacion .inf .info {
  width: 80%;
  margin: 0rem;
  text-align: justify;
  font-weight: 200;
  font-size: 0.8rem;
}

/* ********************* HEADER DESCRIPTION PRESENTACION CONTACTO *********************** */
.header .description .presentacion .contacto {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: start;
}

/* * lista de iconos */
.header .description .presentacion .contacto .list {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
}

/* * item en comun */
.header .description .presentacion .contacto .list .item a {
  color: black;
}

/* * 1 item de la lista */
.header .description .presentacion .contacto .list .item:first-child a {
  transition: all .6s linear;

  &:hover {
    cursor: pointer;
    color: red;
    transition: all .6s linear;
    font-size: 2rem;
  }
}

/* * 2 item de la lista */
.header .description .presentacion .contacto .list .item:nth-child(2) a {
  transition: all .6s linear;

  &:hover {
    cursor: pointer;
    color: white;
    transition: all .6s linear;
    font-size: 2rem;
  }
}

/* * 3 item de la lista */
.header .description .presentacion .contacto .list .item:nth-child(3) a {
  transition: all .6s linear;

  &:hover {
    cursor: pointer;
    color: blue;
    transition: all .6s linear;
    font-size: 2rem;
  }
}

/* * 4 item de la lista */
.header .description .presentacion .contacto .list .item:nth-child(4) a {
  transition: all .6s linear;

  &:hover {
    cursor: pointer;
    color: white;
    transition: all .6s linear;
    font-size: 2rem;
  }
}

/* * 5 item de la lista */
.header .description .presentacion .contacto .list .item:last-child a {
  transition: all .6s linear;

  &:hover {
    cursor: pointer;
    color: #0f0;
    transition: all .6s linear;
    font-size: 2rem;
  }
}

/* ********************* HEADER CONTIMG *********************** */
.header .description .contimg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

/* * Imagen */
.header .description .contimg .img {
  height: 70%;
  width: 40%;
  border-radius: 5%;
  position: absolute;
  top: 5%;
  z-index: 1;
  /* height: 50%; */
}

.header .description .contimg .contcolor {
  height: 70%;
  width: 40%;
  border-radius: 5%;
  background-color: var(--color-title);
  position: absolute;
  top: 15%;
  left: 40%;
  /* height: 50%; */
}

/* Propiedad para rotar */
@property --angle{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.header .description .contimg .contcolor::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: conic-gradient(from var(--angle),transparent 50%,blue);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  padding: .3rem;
  border-radius: 5%;
  z-index: -1;
  animation: rotate 2s linear infinite;
}


/* ?: Animación */
/* ? Animación 1 rotar */
@keyframes rotate {
  from{
    --angle:0deg
  }
  to{
    --angle:360deg
  }
}
/* TODO: SERVICIOS */
.servicios {
  width: 100%;
  grid-area: servicios;
  background: var(--Font2);
  border-bottom: solid 0.1rem white;
}
/* TODO: PORTAFOLIO */
.portafolio {
  width: 100%;
  grid-area: portafolio;
  background: var(--Font1);
  border-bottom: solid 0.1rem white;
}
/* TODO: TESTIMONIOS */
.testimonios {
  width: 100%;
  grid-area: testimonio;
  background: var(--Font2);
  border-bottom: solid 0.1rem white;
}

/* ? MEDIA QUERY */

/* Estilos para móviles */
@media (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}

/* Estilos para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    grid-template-rows: 15vh 50vh 50vh 80vh 50vh;
  }

  /* TODO: NAVBAR */
  .navbar {
    height: 15vh;
    padding-inline: 3rem;
  }

  /* TODO: HEADER */

  .header {
    padding-inline: 3rem;
  }

  /* /////////// info ///////////// */
  .header .description .presentacion .inf .info {
    width: 100%;
    font-size: 0.8rem;
  }

  /* ********************* HEADER DESCRIPTION PRESENTACION CONTACTO *********************** */
  .header .description .presentacion .contacto {
    width: 100%;
  }

  /* * lista de iconos */
  .header .description .presentacion .contacto .list {
    font-size: 1.5rem;
  }

  /* * Imagen */
  .header .description .contimg .img {
    height: 80%;
    width: 55%;
    top: 0;
  }

  .header .description .contimg .contcolor {
    height: 80%;
    width: 55%;
    top: 10%;
  }
}

/* Estilos para computadoras de escritorio */
@media (min-width: 1025px) {
  body {
    background-color: lightcoral;
  }
}
