* {
  box-sizing: border-box;
}

:root {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  /* Variables */
  --Font1: #023e8a;
  --Font2: #0077b6;
  --color-title: #ade8f4;
  --padding-Font: 1rem 5rem 5rem;
}

body {
  width: 100vw;
  display: grid;
  grid-template-rows: 10vh 60vh 60vh 100vh 60vh;
  grid-template-areas:
    "navbar"
    "head"
    "servicios"
    "portafolio"
    "testimonio";
  overflow-y: scroll;
  overflow-x: hidden;
}

/* TODO: NAVBAR */
.navbar {
  width: 100%;
  grid-area: navbar;
  height: 10vh;
  background: var(--Font1);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5rem;

  position: fixed;
  z-index: 100;
  top: 0;
}

/* ********************* HEADER NAVBAR TITLE *********************** */
.navbar .title {
  font-size: 0.9rem;
  color: var(--color-title);
  font-weight: 500;
  text-decoration: none;
}

/* ********************* HEADER NAVBAR LIST *********************** */
.navbar .list {
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  color: white;
  font-size: 0.55rem;
}

/* Item */
.navbar .list .item {
  &:hover {
    cursor: pointer;
    color: #48cae4;
  }
}

/* TODO: HEAD */
.header {
  width: 100%;
  grid-area: head;
  background: var(--Font1);
  border-bottom: solid 0.1rem white;
  display: grid;
  padding-inline: 5rem;
}

.header .description{
    width: 100%;
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 100%;
}

/* ********************* HEADER DESCRIPTION PRESENTACION *********************** */
.header .description .presentacion {
  width: 100%;
  display: grid;
  grid-template-rows: 70% 1fr;
  grid-template-columns: 100%;
}

/* ********************* HEADER DESCRIPTION PRESENTACION INF *********************** */
.header .description .presentacion .inf {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-size: 0.6rem;
  color: white;
  padding-top: 0rem;
}

/* /////////// Saludo ///////////// */
/* Saludo */
.header .description .presentacion .inf .saludo {
  margin: 0rem;
  color: white;
  font-size: 1.8rem;
}

/* trabajo el span */
.header .description .presentacion .inf .saludo .name {
  color: var(--color-title);
}

/* /////////// descripción ///////////// */
.header .description .presentacion .inf .description {
  margin: 0rem;
}

/* /////////// info ///////////// */
.header .description .presentacion .inf .info {
  width: 70%;
  margin: 0rem;
  text-align: justify;
  font-weight: 200;
}

/* ********************* HEADER DESCRIPTION PRESENTACION CONTACTO *********************** */
.header .description .presentacion .contacto {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: start;
}

/* * lista de iconos */
.header .description .presentacion .contacto .list {
  margin: 0rem;
  padding: 0rem;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
}

/* * item en comun */
.header .description .presentacion .contacto .list .item a {
  color: black;
}

/* * 1 item de la lista */
.header .description .presentacion .contacto .list .item:first-child a {
  &:hover {
    cursor: pointer;
    color: red;
  }
}

/* * 2 item de la lista */
.header .description .presentacion .contacto .list .item:nth-child(2) a {
  &:hover {
    cursor: pointer;
    color: white;
  }
}

/* * 3 item de la lista */
.header .description .presentacion .contacto .list .item:nth-child(3) a {
  &:hover {
    cursor: pointer;
    color: blue;
  }
}

/* * 4 item de la lista */
.header .description .presentacion .contacto .list .item:nth-child(4) a {
  &:hover {
    cursor: pointer;
    color: white;
  }
}

/* * 5 item de la lista */
.header .description .presentacion .contacto .list .item:last-child a {
  &:hover {
    cursor: pointer;
    color: #0f0;
  }
}

/* ********************* HEADER CONTIMG *********************** */
.header .description .contimg {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr;
  align-items: baseline;
  justify-content: center;
  padding: 1rem;
  /* position: relative; */
}

/* * Imagen y Contenedor */
.header .description .contimg .move{
    width: 10rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    border-radius: .5rem;
    overflow: hidden;
    z-index: 1;
}

/* * Imagen */
.header .description .contimg .move .img{
    width: 10rem;
    height: 15rem;
}

/* * Contenedor del color */
.header .description .contimg .contenedor{
    width: 10rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 35%;
    top: 10%;
    border-radius: .5rem;
    overflow: hidden;
}

/* * Color */
.header .description .contimg .contenedor .contcolor{
    width: 10rem;
    height: 15rem;
    background-color: var(--color-title);
}

/* TODO: SERVICIOS */
.servicios {
  width: 100%;
  grid-area: servicios;
  background: var(--Font2);
  border-bottom: solid 0.1rem white;
}
/* TODO: PORTAFOLIO */
.portafolio {
  width: 100%;
  grid-area: portafolio;
  background: var(--Font1);
  border-bottom: solid 0.1rem white;
}
/* TODO: TESTIMONIOS */
.testimonios {
  width: 100%;
  grid-area: testimonio;
  background: var(--Font2);
  border-bottom: solid 0.1rem white;
}
